.container {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

img {
  width: 100%;
}

p {
  flex-basis: 100%;
}

.column-two-thirds {
  flex-basis: calc(200% / 3);
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}
