* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.container {
  max-width: 800px;
}

h1 span {
  font-size: 1.5em;
  display: inline-block;
}

h1 span.current {
  color: black;
  text-decoration: underline;
}

h1 span.yes {
  color: green;
}

h1 span.no {
  color: red;
}

h1 span.space {
  display: inline-block;
  width: 0.3em;
}
